{{ $page := .page }}
<div class="row">
  <div class="col-md-12 section-heading">
    <h1 class="text-center">
      Join us
    </h2>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 order-md-1 text-center text-md-left align-self-center">
      {{ $page.Content }}
    </div>
    <div class="col-md-6 order-md-2 mx-auto hero-media">
      <div id="fitogram-booking-tool"></div>
      <script type="text/javascript" src="https://widget.fitogram.pro/widget.min.js"></script>
      <script>
        Widget.default.config({ domain: 'ruha-healing', loginTarget: 'offers', selector: '#fitogram-booking-tool' });
        Widget.default.calendar.new().render();
      </script>
    </div>
  </div>