{{ $page := .page }}
<div class="row">
  <div class="col-md-12 section-heading">
    <h1 class="text-center">
      Next live sessions
    </h2>
  </div>
</div>
<div class="row what-when-how-costs">
  <div class="col-md-3 order-md-1">
    <h3>🎉 What</h3>
    We do a <strong>75 minutes Kundalini Yoga set</strong> together. You can join from <strong>wherever</strong> you are. All you need is an internet enabled device such as a laptop, tablet or phone to be able to see and listen to my instructions.
  </div>
  <div class="col-md-3 order-md-2">
    <h3>⏱️ When</h3>
    The next session is on <strong>Sunday, July 04</strong> and starts at <strong>6 PM Central European Summer Time</strong> (<a href="https://savvytime.com/converter/germany-berlin-to-ca-san-francisco-ny-new-york-city-singapore-singapore/jul-4-2021/6pm">Find your local time</a>) but the <a href="https://zoom.us/">Zoom</a> room opens <strong>20 minutes earlier</strong>.
  </div>
  <div class="col-md-3 order-md-3">
    <h3>💻 How</h3>
    Pick a session from the calendar and do the registration. Choose <strong>Trial session</strong> if this is your first time. You'll receive a follow-up email with detailed instructions on how to join the class.
  </div>
  <div class="col-md-3 order-md-4">
    <h3>💲 Costs</h3>
    Your first session is completely <strong>free</strong>. If you decide to participate in the future again, I kindly ask you to choose one of the other available <a href="/#booking">ticket options</a> after the trial course.
  </div>
</div>
  <div class="row">
    <div class="col-md-12 order-md-1">  
      <iframe
  class="calendar-widget"
  frameborder="0"
  scrolling="yes"
  src="https://widget.fitogram.pro/ruha-healing?fito-embedded=true&w=/list-view"
  width="100%">
</iframe>
    </div>
  </div>



