{{ $page := .page }}
<div class="row">
  <div class="col-md-12 section-heading">
    <h1 class="text-center">
      Next live sessions
    </h2>
  </div>
</div>
<div class="row what-when-how-costs">
  <div class="col-md-3 order-md-1">
    <h3>🎉 What</h3>
    We do a <strong>75 minutes Kundalini Yoga set</strong> together. You can join from <strong>wherever</strong> you are. All you need is an internet enabled device such as a laptop, tablet or phone to be able to see and listen to my instructions.
  </div>
  <div class="col-md-3 order-md-2">
    <h3>⏱️ When</h3>
    <strong>At the moment, I am taking a BREAK from my Kundalini Yoga live sessions because I am pregnant.</strong> However, as soon as I can continue, the calendar with all dates for our next sessions will appear here again and you can register for them. 
  </div>
  <div class="col-md-3 order-md-3">
    <h3>💻 How</h3>
    After my break: Pick a session from the calendar and do the registration. Choose <strong>Trial session</strong> if this is your first time. You'll receive a follow-up email with detailed instructions on how to join the class.
  </div>
  <div class="col-md-3 order-md-4">
    <h3>💲 Costs</h3>
    Your first session is completely <strong>free</strong>. If you decide to participate in the future again, I kindly ask you to choose one of the other available <a href="/#booking">ticket options</a> after the trial course.
  </div>
</div>
  <div class="row">
    <div class="col-md-12 order-md-1">  
      <div style="padding:56.21% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/574828670?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Saying goodbye for a while ..."></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>

  



