{{ $page := .page }}
<div class="row">
  <div class="col-md-12 section-heading">
    <h1 class="text-center">
      Next live sessions
    </h2>
  </div>
</div>
  <div class="row">
    <div class="col-md-6 order-md-1 text-center text-md-left align-self-center">
      {{ $page.Content }}
    </div>
    <div class="col-6 mx-auto col-md-6 order-md-2 hero-media">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdTnjS-7jCCpNDa8fqbtLhQ0lp9MYRzGavpt-oIq_avyIRZpw/viewform?embedded=true" width="640" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>