{{ $page := .page }}
  <div class="row">
    <div class="col-md-8 order-md-1 text-center text-md-left align-self-center">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/OIsdRLjWaMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 order-md-2 mx-auto hero-media">
      <div>
        <h2>
          Checkout my <a href="https://www.youtube.com/channel/UCjR4h8QUBW_gUnXkfbEdKQA/featured" target="_blank">YouTube channel</a> and enjoy some <strong>free</strong> yoga sets.
        </h2>
        <p>
          {{ $page.Content }}
        </p>
      </div>
    </div>
  </div>