
  <div class="row">
    <div class="col-md-6 order-md-1 text-center text-md-left align-self-center">
      <div>
        <h2>
          I'm a <strong>Kundalini Yoga teacher</strong> who organizes <strong> live </strong> classes <strong> online </strong> and <strong>onsite</strong>
          as well as for closed <strong>corporate groups</strong>.
        </h2>
        A typical Kundalini Yoga class consists of a small <strong>warm-up</strong> - often involving <strong>Pranayama</strong>, a <strong>Kriya</strong> as the central experience, long <strong>deep relaxation</strong> and a final <strong>meditation</strong>. The world of Kundalini Yoga is very colorful and I invite you from the depth of my heart to try it out.
      </div>
      <p class="mt-4">
        <a href="#contact" class="btn btn-lg btn-outline-primary page-scroll">Contact me</a>
      </p>
    </div>
    <div class="col-md-6 order-md-2 mx-auto hero-media">
      <img class="hero-img img-fluid" src="{{ printf "img/P1010087.JPG" | relURL }}" alt="">
    </div>
  </div>