
  <div class="row">
    <div class="col-md-6 order-md-1 text-center text-md-left align-self-center">
      <div>
        <h2>
          I'm a <strong>Kundalini teacher</strong> who organizes <strong> live </strong> classes <strong> online </strong> and <strong>onsite</strong>
          as well as for closed <strong>corporate groups</strong>.
        </h2>
        <p>
          Yoga has many facets and styles, but Kundalini is considered particularly unique and fascinating.
        </p>
      </div>
      <p class="mt-4">
        <a href="#contact" class="btn btn-lg btn-outline-primary page-scroll">Contact me</a>
      </p>
    </div>
    <div class="col-md-6 order-md-2 mx-auto hero-media">
      <img class="hero-img img-fluid" src="{{ printf "img/P1010087.JPG" | relURL }}" alt="">
    </div>
  </div>