<div class="join-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-1 left-col">
        <img class="img-fluid foo" src="{{ printf "img/yoga_silhouette.png" | relURL }}" alt="">
      </div>
      <div class="col-md-8 order-md-2 text-center align-self-center right-box">
        <h2>Join next live class</h2>
        <a href="/#next_sessions" class="btn btn-light btn-lg">
          <i class="fas fa-camera pr-1" aria-hidden="true"></i>Get Zoom link
        </a>
      </div>
    </div>
  </div>
</div>